
#search-button:hover{
    cursor: pointer;
}
.fa-search{
    transition: all 200ms;
}
#search-button:active .fa-search{
    transform: scale(1.5);
}
#meaningsDiv li {
    animation: slide-down 1s;
}
#examplesDiv ul {
    animation: slide-down .5s;
}
.navbar{
    animation: slide-down 1s;
}
.instructions{
    animation: slide-down .5s;
}
.input-group{
    animation: slide-down 250ms;
}
#alert-msg{
    animation: slide-down 500ms;
}
@keyframes slide-down {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

strong{
    /* font-style: italic; */
    color: #deb887;
}

/* about page */
#contact-form{
    display: none;
    animation: slide-down 1s;
}
textarea {
    resize: none;
}
.jumbotron{
    animation: slide-down 1s;
}
